venv/

__pycache__/

.dependencies_installed

.env

.flaskenv

!instance/

instance/*

!app/static/uploads/imagens/
!app/static/uploads/audios/

app/static/uploads/imagens/*
app/static/uploads/audios/*