body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #000000;
  color: #FFFFFF;
}

.logo {
  width: 150px;
  height: 120px;
  margin: 20px 0;
}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}


/* Conteúdo Principal */
.main-content {
  margin-left: 200px;
  padding: 20px;
  background-color: #000000;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #111111;
  border-radius: 30px;
}

/* Barra de Pesquisa */
header .search-bar {
  padding: 10px;
  width: 70%;
  border: none;
  border-radius: 20px;
  background-color: #424242;
  color: #FFFFFF;
  font-size: 16px;
}

header .search-bar::placeholder {
  color: #AAAAAA;
}

/* Botão de Usuário */
header .user-button {
  background-color: #5c5c5c;
  color: #FFF;
  border: none;
  padding: 6px 20px;
  cursor: pointer;
  border-radius: 20px;
  font-size: 16px;
}

/* Carrossel de Imagens */
.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  width: 80%;
  margin: auto;
}

.carousel-item {
  position: relative;
  transition: transform 0.5s ease, opacity 0.5s ease;
  transform-origin: center;
  opacity: 0.5;
  flex: 0 0 auto;
}

.carousel-item.active {
  transform: scale(1.2);
  opacity: 1;
  z-index: 2;
}

.carousel-item.left, .carousel-item.right {
  transform: scale(0.9);
  z-index: 1;
}

.carousel-item img {
  border-radius: 8px;
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.carousel-item.active img {
  width: 250px;
  height: 250px;
}

.carousel-wrapper {
  position: relative;
}

.carousel-item .text-overlay {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.5s ease;
  font-size: 14px;
  text-align: center;
}

.carousel-item.active .text-overlay {
  opacity: 100;
}

.prev-button, .next-button {
  background-color: transparent;
  border: none;
  color: #7e7e7e;
  font-size: 1em;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 3;
}

.prev-button {
  left: 10px;
}

.next-button {
  right: 10px;
}

/* Galeria de Música */
.music-gallery {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: 40px auto;
  max-width: 1200px;
}

.music-row {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.music-card {
  display: flex;
  align-items: center;
  background-color: #1a1a1a;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  flex: 1;
  max-width: 400px;
  padding: 20px;
  height: 130px;
}

.reverse .music-card {
  flex-direction: row-reverse;
}

.music-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

.music-card img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 10px;
  margin: 0 15px;
}

.music-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #ffffff;
}

.music-name {
  font-size: 18px;
  font-weight: bold;
  margin: 5px 0;
}

.artist-name {
  font-size: 16px;
  color: #aaaaaa;
}

.control-button {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #2c2c2c;
  border: none;
  color: white;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}
.control-button:hover {
  background-color: #9b9b9b;
}
