<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/perfil/perfil.css')}}">
</head>
<body>
    <div class="sidebar">
        <div class="logo">
            <img src="{{url_for('static', filename='imagens/logo.png')}}" alt="Logo">
        </div>
        <nav>
            <ul>
                <li><a href="{{url_for('paginas.home')}}">Home</a></li>
                <li><a href="{{url_for('paginas.contato')}}">Contato</a></li>
                <li><a href="{{url_for('paginas.musicas')}}">Lista de Músicas</a></li>
                <li><a href="#music-upload">Cadastro de Músicas</a></li>
            </ul>
        </nav>
    </div>
    <div class="content">
        <div id="profile-section" class="section">
            <div class="profile-container">
                <img src="{{url_for('static', filename='imagens/perfil.png')}}" alt="Imagem do usuário" class="profile-img">
                <button class="edit-button" onclick="showEditSection()">Editar Perfil</button>
            </div>
            <h1>{{dados['nome']}}</h1>
            <h2>Músicas Curtidas</h2>
            <ul class="songs-list">
                <li>
                    <img src="/app/static/imagens/album1.jpg" alt="Imagem do álbum" class="album-img">
                    <div class="song-info">
                        <span class="song-title">Música 1</span>
                        <span class="song-artist">Artista 1</span>
                    </div>
                    <div class="buttons">
                        <button class="heart-button">♡</button>
                        <button class="play-button">▶</button>
                    </div>
                </li>
            </ul>
            <h2>Todas as músicas</h2>
        </div>
        <div id="edit-section" class="section" style="display:none;">
            <button class="back-button" onclick="showProfileSection()">&larr; Voltar ao Perfil</button>
            <div class="form-group">
                <label for="user-img">Imagem do Usuário</label>
                <input type="file" id="user-img">
            </div>
            <div class="form-group">
                <label for="user-name">Nome</label>
                <input type="text" id="user-name" value="{{dados['nome']}}">
            </div>
            <div class="form-group">
                <label for="user-email">Email</label>
                <input type="email" id="user-email" value="{{dados['email']}}">
            </div>
            <div class="form-group">
                <label for="user-password">Senha antiga</label>
                <input type="password" id="user-password" value="">
            </div>
            <div class="form-group">
                <label for="user-password">Nova senha</label>
                <input type="password" id="user-password" value="">
            </div>
        </div>
    </div>
    <script src="{{url_for('static', filename='js/perfil/perfil.js')}}"></script>
</body>




</html>