<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/contato/contato.css')}}">
</head>
<body>
    <!-- Barra lateral com links de navegação -->
  <div class="sidebar">
    <div class="logo">
      <img src="{{url_for('static', filename='imagens/logo.png')}}" alt="Logo Darktune">
    </div>
    <nav>
      <ul>
        <li><a href="/app/templates/index.html">Home</a></li>
        <li><a href="/app/templates/contato.html">Contato</a></li>
        <li><a href="#music-list">Lista de Músicas</a></li>
        <li><a href="#music-upload">Cadastro de Músicas</a></li>
      </ul>
    </nav>
  </div>

  <!-- Conteúdo principal da página -->
  <div class="container">
    <div class="contact-content">
        <form action="/enviar-mensagem" method="post">
            <textarea name="mensagem" placeholder="Deixe sua mensagem" rows="5" required></textarea>
            <input type="submit" value="Enviar">
        </form>
        <div class="contact-info">
            <p>Outros meios de comunicação:</p>
            <p>Email: <a href="mailto:DarkTukeContato@email.com" style="color: #c0c0c0;">DarkTuneContato@email.com</a></p>
            <div class="social-icons">
                <img src="{{url_for('static', filename='imagens/x.png')}}" alt="X">
                <img src="{{url_for('static', filename='imagens/insta.png')}}" alt="Instagram">
                <img src="{{url_for('static', filename='imagens/face.png')}}" alt="Facebook">
            </div>
        </div>
    </div>
</div>

</body>
</html>
