<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/app/static/css/contato/contato.css">
</head>
<body>
    <!-- Barra lateral com links de navegação -->
  <div class="sidebar">
    <div class="logo">
      <img src="/app/static/imagens/logo.png" alt="Logo Darktune">
    </div>
    <nav>
      <ul>
        <li><a href="/app/templates/index.html">Home</a></li>
        <li><a href="/app/templates/contato.html">Contato</a></li>
        <li><a href="#music-list">Lista de Músicas</a></li>
        <li><a href="#music-upload">Cadastro de Músicas</a></li>
      </ul>
    </nav>
  </div>

  <!-- Conteúdo principal da página -->
  <div class="main-content">
    <header>
        <input type="text" placeholder="Pesquisar..." class="search-bar">
        <button class="user-button">Usuário</button>
    </header>
    
</body>
</html>