<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Darktune</title>
  <link rel="stylesheet" href="{{url_for('static', filename='css/home/home.css')}}">
  <link
    rel="stylesheet"
    href="{{url_for('static', filename='css/mensagens.css')}}"
  />
  <link rel="stylesheet" href="{{url_for('static', filename='css/navbar.css')}}">
</head>
<body>
  {% with messages = get_flashed_messages() %} 
      {% if messages %}
        <section class="mensagens notificacao">
          {% for message in messages %}
            <p>{{ message }}</p>
          {% endfor %}
        </section>
      {% endif %} 
    {% endwith %}
  <!-- Barra lateral com links de navegação -->
  <div class="sidebar">
    <div class="logo">
      <img src="{{url_for('static', filename='imagens/logo.png')}}" alt="Logo Darktune">
    </div>
    <nav>
      <ul>
        <li>
          <a href="{{url_for('paginas.musicas')}}"><a href="{{url_for('paginas.conta')}}" class="user-button">
          {% if session['nome'] %}
            {{session['nome']}}
          {% else %}
            Conta
          {% endif %}
        </a>
      </li>
        <li><a href="{{url_for('paginas.home')}}">Home</a></li>
        <li><a href="{{url_for('paginas.contato')}}">Contato</a></li>
        <li><a href="{{url_for('paginas.musicas')}}">Lista de Músicas</a></li>
      </ul>
    </nav>
  </div>

  <!-- Conteúdo principal da página -->
  <div class="main-content">
    
    
    <!-- Seção do carrossel de imagens -->
    <section id="carousel">
        <div class="carousel-wrapper">
          <button class="prev-button">⬅</button>
          <div class="carousel" id="image-carousel">
            <div class="carousel-item">
              <img src="{{url_for('static', filename='imagens/img5.webp')}}" alt="Imagem 1">
              <div class="text-overlay">
                <p>música 1</p>
                <p>autor 1</p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="{{url_for('static', filename='imagens/img6.jpeg')}}" alt="Imagem 2">
              <div class="text-overlay">
                <p>música 2</p>
                <p>autor 2</p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="{{url_for('static', filename='imagens/img2.webp')}}" alt="Imagem 1">
              <div class="text-overlay">
                <p>música 3</p>
                <p>autor 3</p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="{{url_for('static', filename='imagens/img1.webp')}}" alt="Imagem 1">
              <div class="text-overlay">
                <p>música 4</p>
                <p>autor 4</p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="{{url_for('static', filename='imagens/img3.jpeg')}}" alt="Imagem 1">
              <div class="text-overlay">
                <p>música 5</p>
                <p>autor 5</p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="{{url_for('static', filename='imagens/img4.webp')}}" alt="Imagem 1">
              <div class="text-overlay">
                <p>música 6</p>
                <p>autor 6</p>
              </div>
            </div>
          </div>
          <button class="next-button">⮕</button>
        </div>
    </section>

    <!-- Galeria de música -->
    <div class="music-gallery">
      <!-- Primeira linha de cards -->
      <div class="music-row">
        {% for musica in musicas[:3] %}
          <div class="music-card">
            <img src="{{url_for('static', filename='uploads/imagens/'+musica['url_imagem'])}}" alt="Imagem da música: {{musica['nome']}}">
            <div class="music-info">
              <p class="music-name">{{musica['nome']}}</p>
              <p class="artist-name">{{musica['cantores'] | join(', ')}}</p>
              <button class="control-button">
                <a href="{{url_for('paginas.musica', id=musica['id'])}}">▶</a>
              </button>
            </div>
          </div>
        {% endfor %}
      </div>
      <!-- Segunda linha de cards -->
      <div class="music-row">
        {% for musica in musicas[3:] %}
          <div class="music-card">
            <img src="{{url_for('static', filename='uploads/imagens/'+musica['url_imagem'])}}" alt="Imagem da música: {{musica['nome']}}">
            <div class="music-info">
              <p class="music-name">{{musica['nome']}}</p>
              <p class="artist-name">{{musica['cantores'] | join(', ')}}</p>
              <button class="control-button">
                <a href="{{url_for('paginas.musica', id=musica['id'])}}">▶</a>
              </button>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <script src="{{url_for('static', filename='js/home/home.js')}}"></script>
  <script src="{{url_for('static', filename='js/notificacao.js')}}"></script>
</body>
</html>
