<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lista de Músicas - Darktune</title>
  <link rel="stylesheet" href="{{url_for('static', filename='css/musicas/style.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/navbar.css')}}">
  <link
    rel="stylesheet"
    href="{{url_for('static', filename='css/mensagens.css')}}"
  />
</head>
<body>
  {% with messages = get_flashed_messages() %} 
      {% if messages %}
        <section class="mensagens notificacao">
          {% for message in messages %}
            <p>{{ message }}</p>
          {% endfor %}
        </section>
      {% endif %} 
    {% endwith %}
  <div class="sidebar">
    <div class="logo">
      <img src="{{url_for('static', filename='imagens/logo.png')}}" alt="Logo Darktune">
    </div>
    <nav>
      <ul>
        <li>
          <a href="{{url_for('paginas.musicas')}}"><a href="{{url_for('paginas.conta')}}" class="user-button">
          {% if session['nome'] %}
            {{session['nome']}}
          {% else %}
            Conta
          {% endif %}
        </a>
      </li>
        <li><a href="{{url_for('paginas.home')}}">Home</a></li>
        <li><a href="{{url_for('paginas.contato')}}">Contato</a></li>
        <li><a href="{{url_for('paginas.musicas')}}">Lista de Músicas</a></li>
      </ul>
    </nav>
  </div>

  <div class="conteudo-principal">
    <header>
      <form action="{{url_for('musicas.listar_musicas_por_filtro')}}" method="GET">
        <input type="text" placeholder="Filtrar músicas..." class="campo-filtro" name="parametro">
        <select class="filtro" name="filtro">
          <option value="" selected>Filtros</option>
          <option value="nome">Nome da música</option>
          <option value="cantor">Nome do cantor</option>
          <option value="genero">Gênero</option>
        </select>
        <input type="submit" value="Buscar" class="btn-filtro">
      </form>
    </header>

    <section class="lista-musicas">
      {% for musica in musicas[0] %}
      <div class="musica">
        <img src="{{url_for('static', filename='uploads/imagens/'+musica['url_imagem'])}}" alt="Capa do Álbum">
        <div class="info-musica">
          <h2 class="titulo-musica">{{musica['nome']}}</h2>
          <h3 class="artista-musica">{{musica['cantores'] | join(', ')}}</h3>
        </div>
        <div class="acoes">
          {% if musica['curtida_usuario'] == 0 %}
            <a class="btn-favoritar" href="{{url_for('musicas.curtir_musica', id=musica['id'])}}"><img src="{{url_for('static', filename='imagens/deslike.png')}}"></a>
          {% else %}
            <a class="btn-favoritar" href="{{url_for('musicas.descurtir_musica', id=musica['id_curtida'], link='paginas.musicas')}}"><img src="{{url_for('static', filename='imagens/like.png')}}"></a>
          {% endif %}
          <a class="btn-reproduzir" href="{{url_for('paginas.musica', id=musica['id'])}}">▶</a>
        </div>
      </div>
      {% endfor %}

    </section>
  </div>
  <script src="script.js"></script>
  <script src="{{url_for('static', filename='js/notificacao.js')}}"></script>
</body>
</html>
