<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/musicas/musicas.css')}}">
</head>
<body>
      <!-- Barra lateral com links de navegação -->
  <div class="sidebar">
    <div class="logo">
      <img src="{{url_for('static', filename='imagens/logo.png')}}" alt="">
    </div>
    <nav>
      <ul>
        <li><a href="{{url_for('paginas.home')}}">Home</a></li>
        <li><a href="{{url_for('paginas.contato')}}">Contato</a></li>
        <li><a href="{{url_for('paginas.musicas')}}">Lista de Músicas</a></li>
        <li><a href="#music-upload">Cadastro de Músicas</a></li>
      </ul>
    </nav>
  </div>

  {% for musica in musicas %}
    <p>{{musica}}</p>
  {% endfor %}
</body>
</html>