<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/player.css')}}" />
  </head>
  <body>
    <div class="container">
      <section class="card-player">
        <div class="music-area">
          <img
            src="{{url_for('static', filename='uploads/imagens/'+musica['url_imagem'])}}"
            class="imagem" alt="{{musica['nome']}}">
          <div class="music-info">
            <h2>{{musica['nome']}}</h2>
            <p>{{musica['cantores'] | join(', ')}}</p>
          </div>
          <span>
            <a href>❤️</a>
          </span>
        </div>
        <div class="audio-area">
          <input type="range">
          <div class="controls">
            <button>
              <img
                src="{{url_for('static', filename='imagens/icone-voltar.svg')}}"
                alt="Icone de voltar">
            </button>
            <button>
              <img
                src="{{url_for('static', filename='imagens/icone-play.svg')}}"
                alt="Icone de play">
            </button>
            <button>
              <img
                src="{{url_for('static', filename='imagens/icone-avancar.svg')}}"
                alt="Icone de voltar">
            </button>
          </div>
        </div>
      </section>
    </div>

    <script src="{{url_for('static', filename='js/player.js')}}"></script>
    <script src="{{url_for('static', filename='js/notificacao.js')}}"></script>
  </body>
</html>
