<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/mensagens.css')}}"
    />
</head>
<body>
    {% with messages = get_flashed_messages() %} 
      {% if messages %}
        <section class="mensagens notificacao">
          {% for message in messages %}
            <p>{{ message }}</p>
          {% endfor %}
        </section>
      {% endif %} 
    {% endwith %}
    {{musica}}

    <script src="{{url_for('static', filename='js/notificacao.js')}}"></script>
</body>
</html>